In [2]:
print("Data science ecosystem")

Data science ecosystem

In [3]:
print("Hi I am Sachin")

Hi I am Sachin

In [5]:
print("popular datascience language")
print("python")
print("R")
print("Matlab")

popular datascience language
python
R
Matlab

In [7]:
print("popular datascience Libraries")
print("Numpy")
print("seaborn")
print("pandas")
print("matplotlib")
print("pytorch")
print("Tensorflow")
print("Keras")
print("etc..")

popular datascience Libraries
Numpy
seaborn
pandas
matplotlib
pytorch
Tensorflow
Keras
etc..

In [9]:
## Data Science Tools

print("Tool               |      Description")                                    

print(" Jupyter Notebook | Interactive computing and data visualization")    
print("RStudio           | Integrated development environment for R")         
print(" Visual Studio Code | Code editor with data science extensions")     
print(" Tableau         | Data visualization and business intelligence")     
print(" IBM Watson      | AI and machine learning platform")                 
print(" Google Colab    | Cloud-based Jupyter notebooks by Google")

Tool               |      Description
 Jupyter Notebook | Interactive computing and data visualization
RStudio           | Integrated development environment for R
 Visual Studio Code | Code editor with data science extensions
 Tableau         | Data visualization and business intelligence
 IBM Watson      | AI and machine learning platform
 Google Colab    | Cloud-based Jupyter notebooks by Google

In [12]:
#introducing arithmetic expression examples.
print("Addition")
print("2 + 4 equals 6")
print("Subtraction")
print("8-1 equals 7")
print("Multiplication")
print("6*6 equals 36")
print("Division")
print("12/2 equals 6")

Addition
2 + 4 equals 6
Subtraction
8-1 equals 7
Multiplication
6*6 equals 36
Division
12/2 equals 6

In [13]:
num_1 = 10
num_2 = 7
multi = num_1*num_2
Addi = num_1+num_2
print("multiplication of",num_1, "and",num_2, "=", multi)
print("Addition of", num_1, "and", num_2, "=", Addi)

multiplication of 10 and 7 = 70
Addition of 10 and 7 = 17

In [16]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours
print(f"{minutes} minutes is equals to {hours} hours")

150 minutes is equals to 2.5 hours

In [17]:
## Objectives
print("Explore data science languages and libraries")
print("Perform basic mathematical calculations")
print("Introduce data science tools")

Explore data science languages and libraries
Perform basic mathematical calculations
Introduce data science tools

In [18]:
## Author
print("Sachin Saini")

Sachin Saini